@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

html {
    overflow-y: scroll;
}

body {
    text-rendering: optimizeLegibility;
    margin: 10px auto;
    padding: 0px 15px 0px 15px;
    max-width: 700px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222222;
}

header {
    text-align: center;
    margin: 50px 0 0;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: normal;
}

header ul {
    list-style: none;
    padding: 0;
    line-height: 2;
}

header li {
    display: inline;
    padding: 0 9px;
    margin: 0;
    font-size: 16px;
}

header a {
    color: inherit
}
header a:hover {
    color: #6699cc;
}

header:after,
section:after {
    content: '';
    display: block;
    width: 150px;
    border-top: 1px solid #6699cc;
    margin: 30px auto;
    padding: 0;
}


footer {
    width: 100%;
    font-style: italic;
    font-size: 14px;
    text-align: center;
}

footer p {
    max-width: 75%;
    display: inline-block;
    margin: 5px auto;
}

p, ul, ol {
    margin: 0px 0px 24px;
}

a {
    color: #6699cc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

blockquote {
    border-left: 4px solid #6699cc;
    margin-left: 24px;
    padding-left: 12px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a {
    color: #222222;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
    color: #6699cc;
    text-decoration: none;
}

h1 { font-size: 36px; line-height: 42px; margin: 24px 0; }
h2 { font-size: 30px; line-height: 36px; margin: 24px 0; }
h3 { font-size: 24px; line-height: 36px; margin: 24px 0; }
h4 { font-size: 20px; line-height: 36px; margin: 24px 0; }

/* Code */
pre, code {
    font-family: "Inconsolata", monospace;
}

/* Blog index page */
ul.posts {
    padding: 0px;
}

ul.posts li.post {
    list-style-type: none;
    margin-bottom: 20px;
}

ul.posts .post-summary p {
    margin-top: 2px;
    font-style: italic;
}

ul.posts p.post-date {
    margin: 0px;
    color: #999;
    float: right;
}

/* Talks page */
ul.talks {
    padding: 0px;
}

ul.talks li.talk {
    list-style-type: none;
}

ul.talks p.talk-date {
    margin: 0px;
    color: #999;
    float: right;
}

ul.talks ul.talk-links {
    margin-top: 2px;
    margin-bottom: 20px;
}


/* Home page */
.homepage {
    width: 90%;
    position: relative;
    margin: 0 auto;
    font-size: 24px;
}
.homepage p {
    text-align: center;
    font-weight: 300;
}

/* Misc */
/* TODO: clean these up */

p.article-date {
    line-height: 1;
    font-size: 14px;
    color: #999;
    font-weight: normal;
    margin-top: -10px;
}

img.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-top: 10px;
}

img.avatar {
    width: 200px;
    height: 200px;
    float: right;
    margin-top: -9%;
    margin-right: 4%;
    position: relative;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

.MathJax_Display {
    overflow-y: hidden;
    overflow-x: auto;
}

.MathJax a {
    background-position: 0 22px;
}

.prompt, .anchor-link {
    display: none;
}

.output_text pre {
    margin-bottom: 6px;
}

.output_png {
    padding: 0 20px;
    text-align: center;
}

.output img {
    max-width: 100%;
    height: auto;
}

.note {
    background-color: #EEE;
    border: 1px solid #CCC;
    margin: 20px 0px;
    padding: 10px 20px;
}

.admonition-title {
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
}
